* {
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 600px) {
    html,
    body {
        width: 100%;
        height: 100%;
        font-family: Arial;
    }
}

@media only screen and (min-width: 1000px) {
    html,
    body {
        width: 100%;
        height: auto;
        font-family: Arial;
    }
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  height: 100%;
  position: relative;
  border: none;
  
}
.form-bg {
  background-color: black;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  height:100%;
}
.title_tht{
	position:absolute;
	left:280px;
	top:18px;
	color:white
}

.btn_popup_exit{
	position:absolute;
	left:617px;
	top:0px;
	width:109px;
	height:59px;
	border: none;
	background: url("../img/ic_close.png");
}
.btn_popup_update{
	position:absolute;
	left:257px;
	top:350px;
	width:181px;
	height:63px;
	border: none;
	color:white;
	font-size:20px;
	background: url("../img/btn_yellow.png");
}
#input_ten_ht{
	position:absolute;
	left:260px;
	top:150px;
	width:159px;
	height:39px;
	color:white;
	font-size:20px;
	background: url("../img/login_input.png") no-repeat;
}

.title_rule{
	width:100%;
	-ms-transform: translate(0px, 250px);
	transform: translate(0px, 250px);

}

#noidung_popup{
	color:white;
	font-size:20px;
	text-align:center;
	
}
/* Add styles to the form container */
.form-container {
 width: 723px;
 height: 440px;
  background: url("../img/popup_bg.png") no-repeat;
	
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
 
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.container-bg {
    width: 100%;
    float: left;
    background: url("../img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-bg-mobile {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border: 1px solid transparent;
}

.ipad-no-height {
    height: auto;
}
#login,
#register,
#mobile-started {
    width: 500px;
    margin: 30px auto 0 auto;
}

#login-header,
#register-header {
    position: relative;
    height: 78px;
}

#login-bottom,
#register-bottom {
    display: inline-block;
    position: absolute;
    position: relative;
    height: 63px;
}

#login-bottom .btn {
    display: inline-block;
    height: 63px;
    position: absolute;
    top: 0;
}

.btn-left {
    left: 0;
}

.btn-right {
    height:64px;
    width: 167px;
}
.login-img {
    display: inline-block;
    height: auto;
    position: absolute;
    cursor: pointer;
}
.login-img-left {
    left: 0;
    width: 300px;
}

.login-img-right {
    right: 0;
    width : 195px;
}

#register .login-img-left {
    width: 195px;
    height: auto;
}

#register .login-img-right {
    width: 300px;
    height: auto;
}

#register {
    display: none;
}
.input {
    position: relative;
    margin-bottom: 20px;
}

.input input {
    width: 405px;
    height: 60px;
    background: url("../img/textbox.png") no-repeat center center;
    outline: none;
    border: none;
    padding: 0 50px;
    color: #ccc;
    font-size: 20px;
    background-size: 504px;
}
.icon {
    position: absolute;
    top: 15px;
    
}

.icon-left {
    left: 20px;
}

.icon-right {
    right: 20px;
    top: 20px;
}

#captcha-wrapper {
    display: flex;
    justify-content: space-between;
}

#captcha-wrapper input {
    width: 185px;
    height: 59px;
    background: url(../img/textbox_small.png) no-repeat top center;
    background-size: contain;
    margin-left: 0px;
}

.captcha-reload {
    margin-left: 23px;
}

.captcha-container {
    margin-top: 10px;
}

#table-jackpot {
    margin: 20px auto;
    width: 650px;
    height: 372px;
    background: url("../img/table-bg.png") no-repeat top center;
}
#table-jackpot table {
    width: 100%;
    padding-top: 50px;
}

#table-jackpot table th {
    color: #ffbf00;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
}

#table-jackpot table td {
    text-align: center;
    color: #fcfcfc;
    line-height: 30px;
}

.header-logo {
    position: relative;
    height: max-content;
    text-align: center;
}

#login .header-logo img {
    height: 130px;
    width: auto;
}

.login-tab-right {
    display : inline;
    padding: 2px 83px;
}

.login-tab-left {
    display : inline;
    padding: 13px 83px;
    color: white;
    background: linear-gradient(0deg, rgba(195,182,34,0.26094187675070024) 1%, rgba(255,255,121,1) 100%);
}

.login-button {
    width:323px;
    height:64px;
    margin-right: 4px;
}

.sidenav {
    width: max-content;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
}

.sidenav-right {
    width: max-content;
    position: fixed;
    z-index: 1;
    top: 20px;
    right: 20px;
    background: transparent;
    overflow-x: hidden;
}

.sidenav-right a img {
    display: block;
    width: 157px;
}

.sidenav a {
    position: fixed
}

.right-banner {
    display: block;
    border: 1px solid #f9ebae;
    padding: 9px 9px;
    margin-bottom: 10px;
}

.right-banner-mb {
    display: inline-flex;
    border: 1px solid #f9ebae;
    padding: 15px 30px;
    margin-bottom: 10px;
}

.download-right-img {
    margin-bottom: 15px;
    width: 176px;
}

.app-down {
    width: 176px;
    margin-bottom: 5px;
}

.forgot-pass {
    width: 500px;
    margin: 17px auto 0 auto;
    text-align: center;
}

.forgot-pass  a {
    color: #ccc;
}

@media screen and (max-width: 1061px) {
    .sidenav, .sidenav-right {
        display: none;
    }
}

@media screen and (max-width: 660px) {
    #table-jackpot {
        width: 100%;
    }
}
/*start slick css swiper*/

.sidle-bar {
    max-width: fit-content;
    margin: 0px auto;
}
.sidle-bar-register {
    max-width: fit-content;
    margin: 10px auto 0px;
}

/*end slick css swiper*/

/*start mobile login*/
.login-mobile-none {
    display: none;
}

.login-mobile-block {
    display: block;
}

/*end mobile login*/

.btn-left, .btn-right {
    cursor: pointer;
}

.switch-desktop {
    width: 100%;
}

.xen-description {
    margin: 20px 0;
    max-height : 150px;
}

.mobile-down {
    width: 100%;
    margin-bottom: 20px;
}

.active-input {
    width: 28px;
}

.mt-15 {
    margin-top: 15px;
}

.sidle-bar-large {
    max-width: fit-content;
    margin: 0px auto;
    display: flex;
    align-items : flex-end;
}
.sidle-bar-medium {
     max-width: fit-content;
     margin: 0px auto;
     display: flex;
     align-items : flex-end;
}
.gr-m-right {
    display: inline-grid;
    margin-top: 7px;
    margin-left: 29px;
}

.text-down {
    width: 172px;
}
